streamlit
python-dotenv
langchain
langchain-core
langchain-community
langgraph
langchain-google-genai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
duckduckgo-search
google-generativeai
