
# force rebuild

# Core
streamlit==1.31.0
python-dotenv
requests
uuid

# LangChain (Compatible versions)
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.40
langgraph==0.0.63

# Google GenAI
langchain-google-genai==1.0.1
google-generativeai==0.3.2
protobuf==4.25.3

# Vector Databases
chromadb==0.5.0
faiss-cpu

# PDF + Embeddings
pypdf
sentence-transformers

# Search Tools
duckduckgo_search
ddgs

# SQL
sqlalchemy
pymysql

# Utils
typing-extensions
ipython
